@model Lab4.Models.Community

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h1 class="title">Details</h1>
<br />
<h1 class="subtitle">Community</h1>
<hr />
<table class="table is-narrow is-hoverable">
    <tbody>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Budget)</td>
            <td>@Html.DisplayFor(model => model.Budget)</td>
        </tr>
    </tbody>
</table>
<div>
    <a class="button is-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> &nbsp;
    <a class="button is-link is-light" asp-action="Index">Back to List</a>
</div>
