@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lab4.Models.ViewModels.FileInputViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete";
}

<h1 class="title">Delete add for community @Model.CommunityTitle</h1>


<table class="table is-narrow is-hoverable">
    <tbody>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Advertisement.FileName)</td>
            <td>@Html.DisplayFor(model => model.Advertisement.FileName)</td>
        </tr>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Advertisement.Url)</td>
            <td><img src="@Model.Advertisement.Url" style="max-width: 400px;" /></td>
        </tr>
    </tbody>
</table>

    <h1 class="subtitle">Are you sure you want to delete this?</h1>
    <form asp-action="Delete" asp-route-communityId="@Model.CommunityId">
        <input type="hidden" asp-for="@Model.Advertisement.FileName" />
        <input class="button is-link" type="submit" value="Delete"/> &nbsp;
        <a class="button is-link is-light" asp-action="Index" asp-route-id="@Model.CommunityId">Back to List</a>
    </form>
</div>

