@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lab4.Models.ViewModels.AdsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<h1>Show ads for community @Model.Community.Title</h1>
<p>
    <a asp-action="Upload" asp-route-id="@Model.Community.Id">Upload New</a>
</p>
<p>
    <a asp-controller="Community" asp-action="Index">Back to list</a>
</p>
@if (Model.Advertisements.Count() == 0)
{
    <p>There are no files to display.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Advertisement ID
                </th>
                <th>
                    Community ID
                </th>
                <th>
                    File Name
                </th>
                <th>
                    URL
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Advertisements)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvertisementId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.community.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    <img src="@item.Url" style="max-width: 400px;" />
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.AdvertisementId" asp-route-communityId="@item.community.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

