@model Lab4.Models.Student

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete";
}

<h1 class="title">Delete</h1>
<br />
<h1 class="subtitle">Student</h1>
<hr />
<table class="table is-narrow is-hoverable">
    <tbody>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(Model => Model.LastName)</td>
            <td>@Html.DisplayFor(Model => Model.LastName)</td>
        </tr>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(Model => Model.FirstName)</td>
            <td>@Html.DisplayFor(Model => Model.FirstName)</td>
        </tr>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(Model => Model.EnrollmentDate)</td>
            <td>@Html.DisplayFor(Model => Model.EnrollmentDate)</td>
        </tr>
    </tbody>
</table>
<h1 class="subtitle">Are you sure you want to delete this?</h1>
<form asp-action="Delete">
    <input type="hidden" asp-for="id" />
    <input class="button is-link" type="submit" value="Delete" /> &nbsp;
    <a class="button is-link is-light" asp-action="Index">Back to List</a>
</form>
