@model Lab4.Models.Student

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h1 class="title">Details</h1>
<br />
<h1 class="subtitle">Student</h1>
<hr />
<table class="table is-narrow is-hoverable">
    <tbody>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(Model => Model.LastName)</td>
            <td>@Html.DisplayFor(Model => Model.LastName)</td>
        </tr>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(Model => Model.FirstName)</td>
            <td>@Html.DisplayFor(Model => Model.FirstName)</td>
        </tr>
        <tr>
            <td class="has-text-weight-bold">@Html.DisplayNameFor(Model => Model.EnrollmentDate)</td>
            <td>@Html.DisplayFor(Model => Model.EnrollmentDate)</td>
        </tr>
    </tbody>
</table>
<div>
    <a class="button is-link" asp-action="Edit" asp-route-id="@Model.id">Edit</a> &nbsp;
    <a class="button is-link is-light"asp-action="Index">Back to List</a>
</div>
