@model Lab4.Models.ViewModels.StudentMembershipViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "EditMemberships";
}

<h1 class="title">Edit memberships</h1>
<br />
<h1 class="subtitle">Student</h1>
<hr />
<div class="field is-grouped">
    <label class="label">Full Name:&emsp;&emsp;&emsp;&emsp;</label>
    <label class="label">
        @Html.DisplayFor(model => model.Student.LastName), @Html.DisplayFor(model => model.Student.FirstName)
    </label>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Community
            </th>
            <th>
                Action
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Memberships)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @if (item.IsMember == false)
                {
                    <td>
                        <a class="button is-link" asp-action="AddMembership" asp-route-commId="@item.CommunityId" asp-route-studentId="@Model.Student.id">To Register</a>
                    </td>
                    <td>
                        Not Registered
                    </td>

                }
                else
                {
                    <td>
                        <a class="button is-link" asp-action="RemoveMembership" asp-route-commId="@item.CommunityId" asp-route-studentId="@Model.Student.id">To Deregister</a>
                    </td>
                    <td>
                        Registered
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="control">
    <a asp-action="Index" class="button is-link is-light">Back to List</a>
</div>
